body{
    margin: 0;
    font-family: sans-serif;
    background-color:#00008B;
    color: #e0d538;
}

.title1{
    display: grid;
    grid-template-rows: 50px;
    grid-template-columns: 150px 1fr 150px;
    align-items: center;
    padding: 20px 0;
    text-align: center;
}

a:hover
{
    color: blue;
}

.footer{
    font-size: 2em;
    text-align: center;
    margin-top: 45px;
	font-family: josefinSabs-bold;
	color: white;
	animation: typing-text 5s steps(36);
	animation-iteration-count: infinite; 
	overflow: hidden;
	white-space: nowrap;
}
@keyframes typing-text {
	0%   {background-color:red; left:0px; top:0px;}
  25%  {background-color:yellow; left:200px; top:0px;}
  50%  {background-color:blue; left:200px; top:200px;}
  75%  {background-color:green; left:0px; top:200px;}
  100% {background-color:red; left:0px; top:0px;}
}
/* title grid */
.logo{
    width: 90px;
    height: 90px;
    margin-bottom: 5px;
    margin-right: 50px;
}

.heading{
    font-size: 60px;
}


/*  */
.main{
    display: grid;
    align-items: center;
    font-size: 10px;
    padding-top: 80px;
}

.main p{
    margin: 0;
    font-size: 25px;
    font-family: monospace;
    letter-spacing: 3px;
    line-height: 3;
}


/* navigation bar */
ul{
    list-style-type: none;
    margin: 20px 0 0 0;
    padding: 0;
    display: flex;
    overflow: hidden;
    justify-content: space-evenly;
}


li a,.dropbtn{
    display: inline-block;
    text-decoration: none;
    color: white;
    height: 40px;
    display: flex;
    align-items: center;
    padding: 5px 50px;
}

li a:hover, .dropdown:hover {
    background-color: #48D1CC;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content{
    display: none;
    position: absolute;
    background-color:  #000080;
}

.dropdown-content a {
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;

}

.dropdown:hover .dropdown-content {
    display: block;
}
input,select,option{
    width: 100%;
    padding: 12px 20px;
    margin: 10px 0;
    box-sizing: border-box;
    display: block;
}

input[type=text],input[type=password],select{
    background-color: #474b4f;
    color: white;
    border: none;
    font-size: 100%;
    letter-spacing: 0.2em;
}
.main1{
    display: grid;
    justify-content: center;
    padding: 30px;
}
.main1 table{
    margin: 50px auto;
}
.main1 table, th, td {
    border-collapse: collapse;
    text-align: left;
    table-layout: fixed;
    padding: 8px 30px;
    width: 50%;
}

.main1 th{
    color: #61c232;
}

.main1 tr:hover {
    background-color: #474b4f;
}

th, td {
    border-bottom: 1px solid #ddd;
}

input[type=submit]{
    background-color: #474b4f;
    color: white;
    border: none;
    transition-duration: 0.4s;
    cursor: pointer;
    font-size: 16px;

}

input[type=submit]:hover{
    background-color: #86c232;
    color: white
}

fieldset{
    font-size: 20px;
    border-radius: 10px;
    border-width: 5px;
    border-style: solid;
    padding: 20px;
    margin: 0 15%;
}

.error {
    color: red;
    margin: 30px 0 0 30vh;
}